body {
  background: url(../images/background\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.wrapper {
  max-width: 1030px;
  margin: 0 auto;
}

.header-site {
  max-width: 1028px;
  height: 61px;
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.header-link-site {
  text-decoration: none;
}

.logo-and-name {
  display: flex;
  align-items: center;
}

.logo-and-name:hover .logo-text {
  color: #f26522;
}

.logo-and-name:hover .logo {
  background-image: url("../images/logo-2.svg");
}

.logo {
  background-image: url("../images/logo\ 3\ \(1\).svg");
  width: 53px;
  height: 47px;
  margin-top: 5px;
  transition: 0.3s;
}

.logo-text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  margin-left: 8px;
  margin-top: 5px;
  transition: 0.3s;
}

.logo-text-milan {
  max-width: 140px;
  height: 30px;
  font-size: 29px;
  line-height: 29px;
}

.logo-text-holidays {
  max-width: 135px;
  height: 21px;
  font-size: 18px;
  line-height: 18px;
  padding-top: 3px;
}

.email-and-number-site {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.link-email,
.link-number {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

.link-email:hover {
  color: #f26522;
}

.link-number:hover {
  color: #f26522;
}

.email {
  max-width: 219px;
  height: 21px;
}

.link-number {
  margin-top: 19px;
}

.number {
  max-width: 146px;
  height: 21px;
}

.photos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 17px;
  max-width: 1030px;
  height: 560px;
}

.photos > div > a {
  text-decoration: none;
}

.photos > div > a > img {
  width: 300px;
  height: 220px;
}

.photos > div > a > h3 {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  max-width: 1030px;
  height: 21px;
  margin: 0 auto;
  margin-top: 49px;
}

.wrapper {
  max-width: 1030px;
}

.text-footer {
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-milan-holidays {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
}

.name-photo-first,
.name-photo-second,
.name-photo-third,
.name-photo-fourth,
.name-photo-fifth,
.name-photo-sixth {
  transition: 0.3s;
}

.shopping-tours,
.sightseeing-tours,
.food-tours,
.nightlife,
.architecture,
.walking-tours {
  position: relative;
  margin-bottom: 35px;
}

.shopping-info,
.sightseeing-info,
.food-info,
.nightlife-info,
.architecture-info,
.walking-info {
  background-color: #f26522;
  position: absolute;
  bottom: 16%;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: 0.3s;
  color: #ffffff;
}

.shopping-tours:hover .shopping-info,
.sightseeing-tours:hover .sightseeing-info,
.food-tours:hover .food-info,
.nightlife:hover .nightlife-info,
.architecture:hover .architecture-info,
.walking-tours:hover .walking-info {
  height: 55px;
}

.shopping-tours:hover .name-photo-first,
.sightseeing-tours:hover .name-photo-second,
.food-tours:hover .name-photo-third,
.nightlife:hover .name-photo-fourth,
.architecture:hover .name-photo-fifth,
.walking-tours:hover .name-photo-sixth {
  color: #f26522;
}

.info-title-shopping,
.info-title-sightseeing,
.info-title-food,
.info-title-nightlife,
.info-title-architecture,
.info-title-walking {
  margin-left: 16px;
  margin-top: 7px;
}

.info-block-shopping,
.info-block-sightseeing,
.info-block-food,
.info-block-nightlife,
.info-block-architecture,
.info-block-walking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.info-price-shopping,
.info-price-sightseeing,
.info-price-food,
.info-price-nightlife,
.info-price-architecture,
.info-price-walking {
  margin-left: 16px;
}

.info-view-shopping,
.info-view-sightseeing,
.info-view-food,
.info-view-nightlife,
.info-view-architecture,
.info-view-walking {
  position: relative;
  margin-right: 37px;
}

.info-view-shopping::after,
.info-view-sightseeing::after,
.info-view-food::after,
.info-view-nightlife::after,
.info-view-architecture::after,
.info-view-walking::after {
  content: url("../images/Vector-1.png");
  position: absolute;
  margin-left: 16px;
}
